<p><%= notice %></p>

<h1>Knowledge sources for <%= @agent.name %></h1>

<p>
  <%= link_to "New knowledge source", new_agent_knowledge_source_path(@agent) %> |
  <%= link_to "Back to agent", agent_path(@agent) %>
</p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Type</th>
      <th>Status</th>
      <th>Chunks</th>
      <th>Updated</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @knowledge_sources.each do |knowledge_source| %>
      <tr>
        <td><%= knowledge_source.title %></td>
        <td><%= knowledge_source.source_type %></td>
        <td><%= knowledge_source.status %></td>
        <td><%= knowledge_source.knowledge_chunks.size %></td>
        <td><%= knowledge_source.updated_at %></td>
        <td><%= link_to "Show", agent_knowledge_source_path(@agent, knowledge_source) %></td>
        <td><%= link_to "Edit", edit_agent_knowledge_source_path(@agent, knowledge_source) %></td>
        <td><%= button_to "Delete", agent_knowledge_source_path(@agent, knowledge_source), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>
